vendor/
node_modules/
public/build/
.env
.phpunit.cache
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitignore
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
*.sqlite
*.log
.vscode/
.idea/
.DS_Store
.git/
